body {
  background-color: #fbfbfb;
}
h1 {
  font-size: 2rem;
  color: #4a4a4a;
  margin: 20px 0px;
}
h2 {
  font-size: 1.7rem;
  color: #4a4a4a;
  margin: 40px 0px 20px 0px;
}
span {
  color: #ccc;
}
p {
  margin-bottom: 0;
}
p strong {
  color: #4a4a4a;
}
.back-button {
  padding: 10px 20px;
  background-color: #2196f3;
  display: inline-block;
  border-radius: 4px;
  color: white;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #1976d2;
}
